@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@theme inline {
  --color-mint-500: oklch(0.72 0.11 178);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-vazir: var(--font-vazir);
  --breakpoint-3xl: 120rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {

  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.hide-number-spinner::-webkit-outer-spin-button,
.hide-number-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hide-number-spinner {
  -moz-appearance: textfield;
  appearance: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0 !important;
  height: 0 !important;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}